/*Universal Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #ffcf3b;
}
/*Header*/
header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcf3b;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 150px;
    width: 100%;
    border-bottom: 3px solid #855c75;
    gap: 1rem;
    z-index: 10;
}

#logo img {
    height: 150px;
    width: auto;
    padding-left: 60px;

}

.topNav {
    display: flex;
    justify-content: flex-end;
}

.topNav {
    display: flex;
    padding: 15px;
    margin: 10px;
    overflow: hidden;
}

.topNav a {
    margin-left: 6px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: color 250ms linear;
    text-align: center;
    text-decoration: none;
}

#links {
  margin-top: 20px;
}

.topNav a:hover {
    color: #85afff;
}

.topNav .icon {
  display: none;
}


.button {
  background-color: #fcb37b;
  border: 2px solid black;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 3px;
  border-radius: 12px;
  transition: all 250ms linear;
  font-weight: bold;
}

.button:hover {
    background-color: #85afff;
}

/*Media queries for topHeader*/

@media screen and (max-width: 780px) {
 #logo img {height: 100px;
padding-left: 0px;}
}
@media screen and (max-width: 320px) {
 
}

@media screen and (max-width: 875px) and (min-width:600px){
  .topNav a {
    font-size: 17px;
  }
}


@media screen and (max-width: 600px) {
  .topNav a{display: none;}
  .topNav a.icon {
    float: right;
    display: block;
    text-align: center;
  }
  /*hide this?? Covers tabs OR gets hidden behind the logo...*/
  .button {
    font-size: 10px;
    width: 80px;
    height: auto;
    align-self: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 12px;
  }
}

@media screen and (max-width: 780px) and (min-width:600px) {
  .topNav a{display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }
  .button {
    font-size: 10px;
    width: 80px;
    height: auto;
    margin-top: 25px;
  }
}

@media screen and (max-width: 780px) and (min-width:600px){
  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 15px;
  }
}

#about-container {
    display: grid;
    grid-template-areas: "header header" "content photo";
    grid-template-columns: 5fr 1fr;
   gap: 5px;
   float: left;
    width: 100%;
    padding-top: 10rem;
    max-height: 700px;
    background-color: #c4dc49;
    background-size: cover;
    padding-left: 15px;
   padding-bottom: 15px;
   border: 20px solid #fcb37b;
   border-top: 25px solid #fcb37b;
}

#about-container .header {
    grid-area: header;
    text-align: center;
    text-decoration: underline;
    font-family: "Rock Salt", cursive;
}

#about-container .content {
    grid-area: content;
    border: 2px dashed black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

#about-container span {
  color: white;
}

#about-container .photo img {
    grid-area: photo;
    justify-self: right;
    margin-right: 10px;
    max-height: 250px;
    max-width: auto;
    border: 2px solid black;
}

/*Media queries for about container*/
@media screen and (max-width: 1215px) {
  #about-container .header {grid-area: 1 / span 0;
    font-size: 20px;}
    #about-container .content {grid-area: 1 / span 0;
    font-size: 16px;
  margin-left: 25px;}
    #about-container .photo img {max-height: 190px;
    width: auto;
  margin-right: 35px;}
}
@media screen and (max-width: 975px) and (min-width:600px){
  #about-container .header {grid-area: 1 / span 0;
  font-size: 16px;}
  #about-container .content {grid-area: 1 / span 0;
  font-size: 16px;
margin-left: 125px;}
  #about-container .photo img {display: none;}
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  #about-container .header {grid-area: 1 / span 0;
 font-size: 13px;}
 #about-container .content {grid-area: 1 / span 0;
 font-size: 12px;
margin-left: 85px;}
 #about-container .photo img {display: none;}
}

@media screen and (max-width: 320px) {
  #about-container .header {grid-area: 1 / span 0;
 font-size: 13px;}
 #about-container .content {grid-area: 1 / span 0;
 font-size: 12px;
margin-left: 85px;}
 #about-container .photo img {display: none;}
}

/*Style for flip card*/
.flip-card {
    background-color: transparent;
    height: 250px;
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 5px;
    perspective: 1000px;
    z-index: 1;
  }
  
   .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Style the back side*/
.flip-card-back {
    background-color: #a7bafe;
    color: black;
    transform: rotateY(180deg);
    text-decoration: none;
    border: 2px dashed black;
  }

  .flip-card-back h2 {
    font-family: "Rock Salt", cursive;
    text-decoration: underline;
    font-size: 16px;
  }
   .flip-card-back p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    
  }

  /*Media queries for flip card*/
  @media screen and (max-width: 1215px) and (min-width: 976px) {
    #self .flip-card-back h2 {
      font-size: 12px;
    }
    #self .flip-card-back p {
      font-size: 10px;
      
    }
    #self .flip-card-back i {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 975px) {
    #self .flip-card, #self .flip-card-back {display: none;}
  }

/*Other works styles*/
#artWork {
  background-color: #a7bafe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#artWork h2 {
  font-family: "Rock Salt", cursive;
  text-decoration: underline;
  font-size: 25px;
}


#artWork .flip-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.flip-card-container .flip-card {
  background-color: transparent;
  height: 300px;
  width: 300px;
  perspective: 1000px;
  margin: 5px;
  margin-top: 25px;
}

.flip-card-container .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-container .flip-card-front, .flip-card-container .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-container .flip-card-front {
  background-color: transparent;
}

.flip-card-container .flip-card-front img {
  height: 300px;
  width: auto;
  object-fit: cover;
  border: 2px solid black;
}

.flip-card-container .flip-card-back {
  background-color: #f79be7;
  color: black;
  transform: rotateY(180deg);
  text-decoration: none;
  border: 2px dashed black;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-card-container .flip-card-back h3 {
  font-family: "Rock Salt", cursive;
  text-decoration: underline;
  font-size: 16px;
  margin-bottom: 10px;
}

.flip-card-container .flip-card-back li {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  list-style: none;
}

.flip-card-container .flip-card-back p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

/*Projects Styles*/
.projects {
    margin-top: 9rem;
    background-color: #a7bafe;
    border-bottom: 25px solid #fea7ef;
    font-family: "Open Sans", sans-serif;
}

.projects h2 {
    font-family: "Rock Salt", cursive;
    font-size: 25px;
    text-decoration: underline;
    background-color: #fea7ef;
    padding: 15px;
    text-align: center;
}

.projects li {
  display: block;
    font-weight: bold;
    font-size: 20px;
    list-style:none;
    margin-left: 15px;
    margin-right: 25px;
    padding-left: 15px;
    
}
.projects i {
  display: block;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 25px;
    padding-left: 15px;
    font-family: "Open Sans", sans-serif;
}

.projectExamples {
  display: block;
  border-bottom: 25px solid #fcb37b;
}

.projectExamples h2 {
  font-family: "Rock Salt", cursive;
  font-size: 25px;
  text-decoration: underline;
  background-color: #fcb37b;
  padding: 15px;
  text-align: center;
}

.projectExamples i {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}



/*Media Queries for projects*/
@media screen and (max-width: 600px) {
  .projects h2 {font-size: 13px;}
  .projects li {font-size: 13px;}
  .projects i {font-size: 12px;}
}

/*Resume Styles*/
.resume {
  margin-top: 9rem;
  background-color: bisque;
  font-family: "Open Sans", sans-serif;
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 10PX;
}

.resume h2 {
  font-family: "Rock Salt", cursive;
  text-align: center;
  text-decoration: underline;
  margin-left: 10px;
}

.resume li {
  list-style:none;
  margin-left: 10px;
}

.education {
  background-color: #c4dc49;
  padding-top:10px;
  padding-bottom: 10px;
}

.skills {
  background-color: #ffcf3b;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.work {
  margin-top: 10px;
  background-color:#a7bafe;
  padding-top:10px;
  padding-bottom: 10px;
}

.programming {
  background-color: #fea7ef;
  padding-top:10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

/*Contact Form Styles*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #85afff;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms linear;
}

input[type=submit]:hover {
  background-color: #ffcf3b;
}

.form {
  margin-top: 9rem;
  border-radius: 5px;
  background-color: #c4dc49;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
}

/*Number Guesser Style*/
.game-container {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.round-label {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

.guess {
  min-width: 303px;
  height: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
}

.guessing-area {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 60px;
}

.guess-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.guess-label {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.score-label {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.target-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.computer-guess {
  background-color: #c4dc49;
}

#computer-guess {
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.human-guess {
  border: 1px solid #979797;
  background-color: #fea7ef;
}

.guess input {
  height: 90px;
  width: 90px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 7px;
}

.number-controls {
  font-size: 0;
  margin-bottom: 23px;
}

.number-control {
  border: solid 1px #4c7ef3;
  display: inline-block;
  width: 45px;
  height: 35px;
  font-size: 24px;
  font-weight: 700;
  color: #c4dc49;
  background-color: #85afff;
  cursor: pointer;
}

.number-controls button[disabled] {
  color: #dfdfdf;
  background-color: #c4dc49;
  cursor: default;
}

.left {
  border-top-left-radius: 22.5px;
  border-bottom-left-radius: 22.5px;
  background-color: #fcb37b;
  color: #85afff;
}

.right {
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
  border-left-width: 0px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

#guess {
  padding: 20px;
  width: 169px;
  height: 59px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#next-round {
  width: 179px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
  
#guess .button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}

.instructions {
  background-color: #85afff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
}

.instruction {
  width: 180px;
  padding: 2px;
  text-align: center;
}


.winning-text, .winning-text[disabled] {
  color: #ec3636;
  font-weight: 700;
}

/*Footer Styles*/
footer {
  font-size: 20px;
  background-color: #f79be7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#icons {
  display: flex;
  gap: 15px;
}

#icons i {
  color: black;
  transition: color 250ms linear;
}
  
#icons i:hover {
  color: #85afff;
}

#icons a {
  text-decoration: none;
}

#copyright {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/*Tetris Styles*/
#tetris {
  width: 360px;
  border: 1px solid black;
  padding: 20px;
  background: #d7d7d7;
  margin: 0 auto;
}
#canvas {
  width: 200px;
  height: 440px;
  background-color: #000;
  position: relative;
  color: #fff;
}
#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
}
.piece {
  border: 1px solid white;
  position: absolute;
}

#start{
  animation: blink .7s steps(2, start) infinite;
  background: #E1FF5F;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
}

@keyframes blink {
  to {
    outline: #E1FF5F solid 1px;
  }
}

.red{
  color: #f00000;
}

.square {
  position: absolute;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}
.type0 {
  background-color: #a000f0;
}
.type1 {
  background-color: #00f0f0;
}
.type2 {
  background-color: #f0a000;
}
.type3 {
  background-color: #0000f0;
}
.type4 {
  background-color: #00f000;
}
.type5 {
  background-color: #f00000;
}
.type6 {
  background-color: #f0f000;
}
#next_shape {
  position: relative;
  background-color: #000;
  border: 1px solid white;
  width: 110px;
  height: 110px;
}
#info {
  background-color: #000;
  color: #fff;
  float: right;
  width: 110px;
  height: 420px;
  padding: 10px;
}
